*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 900px;
    background-image: url(Imagen/lunes.jfif);
}
.JUGO{
    display: flex;
}
.FLEX{
    font-size: 20PX;
} 
.WE{
    width: 40%;
    height: 350PX;
    border-radius: 10PX;
    margin: 5%;
    background-image: url(Imagen/martes.jfif);
}
.BACH{
    width: 40%;
    height: 800PX;
    border-radius: 10PX;
    margin: 5%;
    background-image: url(Imagen/miercoles.jfif);
}
.OKEY{
    display: flex;
}
.SI{
     width: 40%;
    height: 350PX;
    border-radius: 10PX;
    margin: 1%;
    background-image: url(Imagen/jueves.png);
}
.PERFECT{
     width: 40%;
    height: 350PX;
    border-radius: 10PX;
    margin: 1%;
    background-image: url(Imagen/11188699074613285.jfif);
}
.SUPER{
     width: 40%;
    height: 350PX;
    border-radius: 10PX;
    margin: 1%;
    background-image: url(Imagen/70298444172457067.jfif);
}
.ZOO{
      display: flex;
}
.PUMBA{
     width: 40%;
    height: 350PX;
    border-radius: 10PX;
    margin: 5%;
    background-image: url(Imagen/Marcetplace\ ladies\ from\ Guinea.jfif);
}
.TIMON{
     width: 40%;
    height: 350PX;
    border-radius: 10PX;
    margin: 5%;
    background-image: url(Imagen/The\ Fang\ people\,\ numbering\ roughly\ 3_5\ million….jfif);
}
.ER{
    display: flex;
}
.POL{
    width: 40%;
    height: 350PX;
    border-radius: 10PX;
    margin: 1%;
   background-image: url(Imagen/BA.png);
}
.DIAS{
    width: 40%;
    height: 350PX;
    border-radius: 10PX;
    margin: 1%;
    background-image: url(Imagen/Screenshot_20260614-221614.jpg);
}
.LUIS{
    width: 40%;
    height: 350PX;
    background-color: rgb(1, 49, 49);
    border-radius: 10PX;
    margin: 1%;
    background-image: url(Imagen/Screenshot_20260614-222253.jpg);
}
.DIR{
    display: flex;
}
.ERAIS{
    width: 40%;
    height: 350PX;
    background-image: url(Imagen/Screenshot_20260614-222439.jpg);
    border-radius: 10PX;
    margin: 3%;
}
.WERI{
    width: 40%;
    height: 350PX;
    background-image:url(Imagen/Screenshot_20260614-222302.jpg);
    margin: 3%;
}
.QA{
    width: 100%;
    height: 500px;
    background-color: aquamarine;
    border-radius: 10px;
    background-image: url(Imagen/Screenshot_20260614-222205.jpg);
    background-size: cover;
}
.OKL{
    display: flex;
}
.VAMOS{
    width: 50%;
    height: 400PX;
    background-image: url(Imagen/Screenshot_20260614-222450.jpg);
    border-radius: 10px;
}   
.ANIMO{
    width: 50%;
    height: 400PX;
    background-image: url(Imagen/Screenshot_20260614-222151.jpg);
}
.ESR{
    width: 50%;
    height: 400PX;
    background-image: url(Imagen/Screenshot_20260614-222735.jpg);
    
}
.JBN{
    width: 100%;
    height: 800PX;
    background-image: url(Imagen/Screenshot_20260614-220242.jpg);
    background-size: cover;
}
.MADE{
    display: flex;
    padding: 18px;
    font-size: 19px;
}
.BA{
   width: 50%;
   margin: 1%;
}
.DES{
    width: 50%;
    margin: 1%;
}
.DE{
    width: 50%;
    margin: 1%;
}

 